.fade-in-fwd {
  animation: fade-in-fwd 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
@keyframes fade-in-fwd {
  0% {
    transform: translateY(-10px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.scale-up-br {
  animation: scale-up-br 0.355s cubic-bezier(0.39, 0.575, 0.565, 1) forwards;
}
@keyframes scale-up-br {
  0% {
    // opacity: 0;
    clip-path: circle(100px at 100% 100%);
  }
  100% {
    // opacity: 1;
    clip-path: circle(120vh);
  }
}

$animation-delay: 0.2s;
.slide-right {
  transform: translateX(-20px);
  opacity: 0;
  animation: slide-right-br 0.35s cubic-bezier(0.39, 0.575, 0.565, 1)
    $animation-delay forwards;
}
.slide-left {
  transform: translateX(20px);
  opacity: 0;
  animation: slide-left-br 0.35s cubic-bezier(0.39, 0.575, 0.565, 1)
    $animation-delay forwards;
}
.slide-up {
  transform: translateY(20px);
  opacity: 0;
  animation: slide-up-br 0.35s cubic-bezier(0.39, 0.575, 0.565, 1)
    $animation-delay forwards;
}
.slide-down {
  transform: translateY(-20px);
  opacity: 0;
  animation: slide-down-br 0.35s cubic-bezier(0.39, 0.575, 0.565, 1)
    $animation-delay forwards;
}

@keyframes slide-left-br {
  0% {
    transform: translateX(20px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-right-br {
  0% {
    transform: translateX(-20px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-up-br {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-down-br {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
