
.btn{
    border-radius: 2rem;
    padding: .5rem 2rem;
    border: 1px solid $primary-color;
    cursor: pointer;
    text-align: center;
    color: #765fc2;
    width: 180px;
    font-weight: 600;
}
.btn-primary {
  background-color: $primary-color;
  color: $accent-color;
}
.btn-accent-filled {
  background-color: $accent-color;
  color: $primary-color;
}

.btn-accent {
  color: $accent-color;
  border: 1px solid $accent-color;
}
.btn-group {
  display: flex;
  gap: 1rem;
}

.back-arrow {
  width: 25px;
  height: 25px;
}
