.main-nav-list {
  display: flex;
  gap: 1rem;
}

.home-container {
  .list-container {
    max-width: 1000px;
    margin: auto;
  }
  .community-nav-list {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-around;
    @media screen and(min-width:$breakpoints-md) {
      justify-content: start;
    }
  }
  .background {
    @include primaryBackgroundGradient();
  }
  .screen-blur {
    @include screenBlur();
  }
  .wrapper {
    max-width: 1000px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1.5rem;
    padding: 5rem 0;
    grid-row-gap: 3rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

  .community-nav-list {
    background-color: white;
  }
  .nav-btn:active,
  .nav-btn:hover,
  .nav-btn.active {
    background-color: #f7f7fa;
    border-bottom: 3px solid #765fc2;
  }
  .nav-btn {
    padding: 1rem 1.5rem;
    // NOT MAGIC NUMBERS, FROM FIGMA
    border-top-left-radius: 13.6px;
    border-top-right-radius: 13.6px;
    color: black;
    border: none;
    background-color: white;
    cursor: pointer;
    border-bottom: 3px solid transparent;
    transition: border 0.3s ease-in-out;
    font-weight: 600;
  }

  #nav-header {
    background-color: #fff;
  }

  .full-screen-overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    // background-color: rgba($color: $primary-color, $alpha: 0.6);
    // background: radial-gradient(
    //   circle at bottom right,
    //   transparent 0%,
    //   $accent-color 100%
    // );
    background: rgba($color: #fff, $alpha: 0.8);
    background-size: 200% 200%;
    backdrop-filter: blur(30px);
    overflow: hidden;

    .overlay-content-container {
      display: grid;
      width: 90%;
      max-width: 700px;
      grid-template-columns: repeat(2, 1fr);
      margin: auto;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      gap: 1rem;
      .upload-text {
        grid-column: 1/-1;
        background: $primary-color;
        color: white;
        padding: 1rem 0;
        text-align: center;
        padding-bottom: 2rem;
        clip-path: polygon(
          100% 0,
          100% 80%,
          53% 80%,
          50% 100%,
          47% 80%,
          0 80%,
          0 0
        );
      }
      .link {
        width: 100%;
        height: 200px;
        background-color: white;
        border: 2px solid $primary-color;
        border-radius: 30px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
      }
      .link:last-of-type {
        grid-column: 1/-1;
      }
    }
    .close-btn {
      position: absolute;
      top: 1rem;
      right: 1rem;
      border: none;
      background-color: transparent;
      font-size: 2rem;
      cursor: pointer;
    }
  }
}
