.update-profile{

  section {
    background: radial-gradient(circle at top left,#BDB8CF 10%, #FAFAFD 40%,transparent 80%),
    radial-gradient(circle at bottom right, #BDB8CF 10%, #FAFAFD 40%,transparent 80%);
  }

  #gender, #birthday label, #location, #for_you {
    font-size: 1rem;
    font-weight: 600;
    background-color: #EAE7F6;
    display:block;
    padding-left:.2rem;
  }

  #birthday label, #location, #for_you {
    margin-bottom:1rem;
  }

  #want, div.flex.form-field label  {
    font-size: 	0.875rem;
    font-weight: 400;
  }

 #get {
   border:none;
   background-color: transparent;
   color:$primary-color;
   margin-left: -120px;
 }

 #get i {
   font-size: 1rem;
 }

 span#for_you {
   margin-top: 2rem;
 }

  div.flex.form-field {
    margin-top: .5rem;
  }

  #img-picker label {
    font-size: 	0.875rem;
    font-weight: 400;
  }

  h2 {
    display:none;
  }
  #user-info, textarea {
    max-width:90vw;
  }

  #user-name {
    font-weight:900;
    font-size: 1rem;
  }

  div#name-img.form-field {
  padding:2rem 0 0 0;
  display: grid;
  grid-template-rows: 50px, 1fr, 50px, 50px;
  justify-content: center;
  text-align:center;
  }
  div#user-info {
    padding-top:0;
  }

  div.flex.form-field {
    padding-bottom:2rem;
  }

  .container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    
  }


  #img-picker {
    display:none;
  }

 #name-img label {
    color:$primary-color;
    text-decoration: underline;
    font-size: 	0.875rem;
  }

  .form-field{
    width: 100%;
  }

input#location-city, input#birthDate, select#for-you-age { 
  background: #FFFFFF;
  box-shadow: 4px 4px 14px 4px rgba(0, 0, 0, 0.05);
  border-radius: 50px;
  height: 2.5rem;
  border: none;
}

select#for-you-age {
 width:7.5rem;
}


textarea {
  background: #FFFFFF;
  box-shadow: 4px 4px 14px 4px rgba(0, 0, 0, 0.05);
  border: none;
  margin-top:.5rem;
}

::placeholder {
  color: #BDB8CF;
  font-size:1rem;
  font-weight:500;
}

  input[type="radio"]{
    width: auto;
    cursor: pointer;
    accent-color: $primary-color;
  }


  input[type="checkbox"], input[type="checkbox"]+label{
    display: inline;
    width: auto;
    accent-color: $primary-color;
  }

  input[type="submit"]{
    cursor: pointer;
    width:9rem;
    color:$text-color-light;
    background: $primary-color;
    border-radius: 39.9056px;
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    line-height: 21px;
    padding:.5rem;
    align-self:center;
  }
  input[type="submit"]:disabled{
    opacity: .8;
    cursor: not-allowed;
  }

  .profile-image{
    width: 35vw;
    height: 35vw;
    border-radius: 50%;
    display: block;
    margin: auto;
    object-fit: cover;
    object-position: top;
    padding:.5rem;
  }

  @media screen and (min-width: 768px) {
    .container {
      max-width: 750px;
    }

    .profile-image{
      width: 25vw;
      height: 25vw;
    }

  }
 
  @media screen and (min-width: 992px) {

    .container {
      max-width: 1200px;
    }

    div#name-img.form-field {
      padding:0;
    }

    .profile-image{
      width: 20vw;
      height: 20vw;
    }

    div#name-img.form-field {
      align-self: start;
    }
 
}
}

form {

  #user-info {
    display: flex;
    flex-flow:column nowrap;
 
  }


// MEDIUM
@media screen and (min-width: 992px) {
  display: grid;
  grid-template-columns: 200px,1rem;
  grid-gap: 2rem;


#name-img.form-field{
grid-column:1/2;
grid-row: span 2;
margin-top:2rem;

}

div#user-info {
  grid-column: 2/3;
  margin-top:2rem;
  padding-left:1rem;
  border-left:#BDB8CF solid 2px;
}

}

}