.update-profile{

  section {
    background: radial-gradient(circle at top left, #765fc2 0%, #F6F4F9 60%,transparent 80%),
    radial-gradient(circle at bottom right, #765fc2 0%, #F6F4F9 60%,transparent 80%);
  }

  .container{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    margin: auto;
  }

  .form-field{
    width: 100%;
  }

  input[type="radio"]{
    width: auto;
    cursor: pointer;
  }
  input[type="checkbox"], input[type="checkbox"]+label{
    display: inline;
    width: auto;
  }
 
  .profile-image{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    display: block;
    margin: auto;
    object-fit: cover;
    object-position: top;
  }

input[type="submit"]{
  cursor: pointer;
}
input[type="submit"]:disabled{
  opacity: .8;
  cursor: not-allowed;
}
}

form {
// MEDIUM
@media screen and (min-width: 992px) {
  display: grid;
  grid-template-columns: 1fr, 2fr;
  grid-gap: 2rem;
}

#name-img.form-field{
grid-column:1/2;
}

#user-info {
  grid-column: 2/3;
}

}