.profile {
  margin: auto;

  .username-container {
    padding: 1rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas: "arrow user blank";

    .username {
      justify-self: center;
      align-self: center;
      grid-area: user;

      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 36px;
    }

    .back-arrow {
      width: 30px;
      height: 30px;
      justify-self: start;
      align-self: center;
      grid-area: arrow;
    }
  }

  .user-profile {
    width: 80%;
    margin: auto;
    height: 10rem;
    position: relative;
    display: grid;
    grid-template-columns: 0.5fr 1.3fr 0.2fr;
    grid-template-rows: 1fr;
    grid-template-areas: "user-details user-message buttons";
    gap: 0px 1rem;

    margin-bottom: 1rem;

    .user-details {
      grid-area: user-details;
      align-self: center;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;

      .circle {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 8rem;
        width: 8rem;
        border-radius: 50%;
        background: #ffffff;
        box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.05);

        .profile-image {
          height: 7.6rem;
          width: 7.6rem;
          background-repeat: no-repeat;
          border-radius: 50%;
          background-size: cover;
          background-position: center;
        }
      }

      .counter {
        display: grid;
        grid-template-columns: 1fr 3px 1fr 3px 1fr;
        text-align: center;
        gap: 0px 10px;
        margin: auto 30px;
        color: $primary-color;

        .line {
          width: 1px;
          height: 65px;
          background-color: $secondary-color02;
        }

        .q {
          font-weight: 500;
          font-size: 22px;
          line-height: 33px;
          text-align: center;
        }

        .counter-title {
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;

          text-align: center;
        }
      }
    }
    .user-message {
      grid-area: user-message;
      justify-self: end;
      align-self: center;
      width: 28rem;
      height: 6rem;
      display: flex;
      align-items: center;
      justify-content: center;

      background: #ffffff;
      box-shadow: 4px 4px 14px 4px rgba(0, 0, 0, 0.05);

      .text-message {
        display: inline;
      }
    }

    .action-buttons {
      justify-self: center;
      align-self: center;
      grid-area: buttons;

      .edit-btn {
        width: 165px;
        height: 30px;
        margin-bottom: 15px;

        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 21px;
        text-align: center;

        color: #ffffff;

        background: $primary-color;
        border-radius: 50px;
        border-color: transparent;
      }

      .delete-btn {
        width: 165px;
        height: 30px;

        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 21px;
        text-align: center;

        color: $primary-color;

        background: #ffffff;
        border: 2px solid $primary-color;
        box-sizing: border-box;
        border-radius: 50px;
      }
    }
  }
  .user-posts-type {
    .nav-btn {
      margin: 0;
      width: 150px;
      height: 50px;
      border-color: transparent;
      border-radius: 13.6px 13.6px 0px 0px;
      border-style: solid;
      border-bottom-color: $secondary-color03;
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 30px;
      color: $secondary-color;
    }
    .active {
      background: $secondary-color03;

      border-bottom-color: $primary-color;
      color: $body-text;
    }
  }
  .wrapper-container {
    background-color: $secondary-color02;
    width: 100%;
    padding: 4rem 0;

    .wrapper {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 1rem;
      max-width: 80%;
      margin: auto;

      .rectangle {
        background: rgba(255, 255, 255, 0.8);
        box-shadow: 10px 20px 20px 10px rgba(0, 0, 0, 0.05);
        border-radius: 30px;
        width: 250px;
        height: 254px;
        display: flex;
        justify-content: center;
        align-items: center;

        .post {
          width: 234px;
          height: 238px;
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
          border-radius: 30px;
          margin: auto;
        }
      }
    }
  }
}

.action-buttons {
  margin: auto 15px;
}

.action-btn {
  margin: 5px auto;
}

.profile-image {
  //   position: absolute;
  width: 120px;
  height: 120px;
  //   left: 560px;
  //   //   top: 90px;
  border-radius: 50%;
  margin: 0.1rem;
  border: 0.3rem solid #ffff;
}

.user-posts-type {
  margin-left: 20px;
  @media screen and (min-width: 768px) {
    .profile {
    }
  }
  @media screen and (min-width: 992px) {
    .profile {
    }
  }
}
