.dn {
  display: none !important;
}


.postTags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 0.5rem;

  span {
    font-style: italic;
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    background: $primary-color;
    color: white;
    border-radius: 50px;
    margin: 2px;
    padding: 3px 8px;
    cursor: pointer;
    transition: all .35s ease;
    &:hover{
        background-color: $danger-color;
    }
  }
}
