
$accent-color: #fff;
$body-text: #444444;
$primary-color: #765fc2;
$secondary-color: #bdb8cf;
$text-color-dark: #444444;
$text-color-light: #ffffff;
$secondary-color02: #eae7f6;
$secondary-color03: #f7f7fa;
$secondary-color04:#F6F4F9;
$error: #db6984;

$breakpoints-sm: 576px;
$breakpoints-md: 768px;
$breakpoints-lg: 992px;
$breakpoints-xl: 1200px;

$grid-breakpoints: (
  sm: $breakpoints-sm,
  md: $breakpoints-md,
  lg: $breakpoints-lg,
  xl: $breakpoints-xl,
);
