.view-post {
  margin: auto;

  .type-container {
    padding: 1rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas: "arrow type blank";
    padding: 0 2rem;
    margin: 1rem 0 2rem 0;

    .type {
      text-transform: capitalize;
      justify-self: center;
      align-self: center;
      grid-area: type;
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 21px;
    }
    .back-arrow {
      width: 18px;
      height: 18px;
      justify-self: start;
      align-self: center;
      grid-area: arrow;
    }
  }

  .single-post {
    display: flex;
    justify-content: center;

    .image-container {
      position: relative;
      border-radius: 0px 0px 72px 0px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      width: 390px;
      height: 390px;
    }
    .post-details-container {
      position: absolute;
      display: block;
      bottom: -15px;
      width: 350px;
      height: 398px;
      z-index: 1;
      background: rgba(255, 255, 255, 0.7);
      box-shadow: 20px 20px 20px 20px rgba(0, 0, 0, 0.05);
      backdrop-filter: blur(20px); //not supported
      border-radius: 30px;
      .user-details {
        display: flex;
        flex-direction: row;
        margin: 25px;
        align-items: center;
        img {
          width: 64px;
          height: 64px;
          border-radius: 50%;
          margin-right: 15px;
        }
        .postUser {
          font-weight: 500;
          font-size: 14px;
          line-height: 21px;
        }
      }
      .postComments {
        margin-left: 25px;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
      }
      .tags {
        margin: 25px;
        .tags-title {
          font-weight: 600;
          font-size: 14px;
          line-height: 21px;
          color: $primary-color;
        }
        .postTags {
          margin: 25px;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;

          span {
            font-style: italic;
            font-weight: 300;
            font-size: 12px;
            line-height: 18px;
            background: #f1f1f1;
            border-radius: 50px;
            margin: 2px;
            padding: 3px 8px;
          }
        }
      }
    }
  }

  .suggestions {
    position: relative;
    top: 400px;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    margin: 0px auto 10px auto;
  }
  .wrapper {
    position: relative;
    top: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .post {
      background: rgba(255, 255, 255, 0.8);
      box-shadow: 10px 20px 20px 10px rgba(0, 0, 0, 0.05);
      border-radius: 30px;
      width: 350px;
      height: 400px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      align-items: center;
      margin-bottom: 45px;

      .user-info-donate {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: space-between;
        width: 330px;
        margin: 15px auto 0 auto;

        .dp {
          margin-top: -50px;
          width: 64px;
          height: 64px;
        }

        .aux {
          width: 64px;
          height: 5px;
        }
      }

      .user-info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: space-between;
        width: 330px;
        margin: 15px auto 0 auto;

        .dp {
          margin-top: -50px;
          width: 64px;
          height: 64px;
        }
        .favorite-icon {
          background-color: transparent;
          color: $primary-color;
          border: transparent;
          font-size: 20px;
          margin-right: 10px;
          align-self: center;
        }
      }

      .post-img a img {
        border-radius: 30px;
        width: 328px;
        height: 328px;
        margin: 15px;
      }
    }
  }
}

@media screen and (min-width: $breakpoints-md) {
  .view-post {
  }
}

@media screen and (min-width: $breakpoints-lg) {
  .view-post {
    .single-post {
      flex-direction: row;
      flex-wrap: nowrap;
      .image-container {
        width: 405px;
        height: 405px;
      }
      .post-details-container {
        position: initial;
        backdrop-filter: blur(5px);
        margin-top: 25px;
        margin-left: -50px;
        width: 477px;
        height: 427px;

        .user-details {
          margin: 35px;

          img {
            width: 80px;
            height: 80px;
          }
          .postUser {
            font-size: 16px;
            line-height: 24px;
          }
        }
        .postComments {
          font-size: 18px;
          line-height: 27px;
        }
        .tags {
          .tags-title {
            font-size: 16px;
            line-height: 24px;
          }
          .postTags {
            span {
              font-size: 14px;
              line-height: 21px;
            }
          }
        }
      }
    }
    .suggestions {
      top: 70px;
      font-size: 20px;
      line-height: 30px;
    }
    .wrapper {
      position: relative;
      top: 120px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);

      .post {
        // background: rgba(255, 255, 255, 0.8);
        // box-shadow: 10px 20px 20px 10px rgba(0, 0, 0, 0.05);
        // border-radius: 30px;
        width: 245px;
        height: 280px;
        // display: flex;
        // flex-direction: column;
        // justify-content: space-between;

        align-items: center;
        margin-bottom: 45px;

        .user-info-donate {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-content: space-between;
          width: 231px;
          margin: 15px auto 0 auto;

          .dp {
            margin-top: -50px;
            width: 64px;
            height: 64px;
          }

          .aux {
            width: 64px;
            height: 5px;
          }
        }

        .user-info {
          width: 231px;
          font-style: normal;
          font-weight: 600;
          font-size: 12px;
          line-height: 18px;

          .dp {
            margin-top: -50px;
            width: 57.6px;
            height: 57.6px;
          }
          .favorite-icon {
          }
        }

        .post-img a img {
          width: 229.6px;
          height: 229.6px;
          margin: 0px;
        }
      }
    }
  }
}

@media screen and (min-width: $breakpoints-xl) {
  .view-post {
  }
}
