@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,300;1,600;1,700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.visually-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

a {
  text-decoration: none;
  color: inherit;
}

.flex {
  display: flex;
  gap: 1rem;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.gap-2 {
  gap: 1.5rem;
}

.gap-1 {
  gap: 0.5rem;
}

.row {
  display: flex;
}

.mt-1 {
  margin-top: 1rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.text-center {
  text-align: center;
}

select {
  padding: 0.5rem 0.75rem;
  width: 100%;
}

video {
  width: 200px;
  height: 200px;
}

.camera video#player {
  width: 376px;
  height: 296px;
}

.dn {
  display: none;
}

h1 {
  margin-top: 2rem;
  text-align: center;
}

h2 {
  margin-bottom: 1rem;
}

main {
  margin-top: 2rem;
}

sup {
  color: firebrick;
  font-size: 1.25rem;
}

.wrapper {
  margin: 0 2rem;
}

.card {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  background-color: #e2e2e2;
  border-radius: 10px;
  padding: 1rem;
  max-width: 45%;
  margin: auto;
}

form {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 1rem;
}

label, input {
  display: block;
  width: 100%;
}

input {
  padding: 0.5rem 0.75rem;
  border-radius: 5px;
}

input[type=submit] {
  background-color: darkseagreen;
  color: black;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 5px;
  border: none;
  padding: 1rem 0.5rem;
  cursor: pointer;
}

hr {
  width: 100%;
  height: 2px;
  background-color: black;
  margin: 1rem 0;
}

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.social-icons button {
  cursor: pointer;
  font-size: 1.5rem;
  color: white;
}

* {
  margin: 0;
  padding: 0;
}

.logo {
  margin: 50px 0;
  text-align: center;
}

.title {
  text-align: center;
  margin: 50px 0 80px 0;
}

.welcome {
  font-size: 3em;
  font-weight: bold;
}

.create-account {
  text-align: center;
  margin-bottom: 1rem;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.email-wrapper {
  align-self: center;
  padding: 10px;
}

.email-label {
  display: inline-block;
  width: 100px;
  font-size: 20px;
  font-weight: 600;
}

.email-input input {
  height: 25px;
  box-sizing: border-box;
}

.password-wrapper,
.conf-password-wrapper {
  align-self: center;
  padding: 10px;
}

.pass-label {
  display: inline-block;
  width: 100px;
  font-size: 20px;
  font-weight: 600;
}

.pass-input input {
  height: 25px;
  box-sizing: border-box;
}

.signin-button,
.signup-button {
  align-self: center;
  padding: 15px;
}

.signin-button button,
.signup-button button {
  padding: 5px 25px;
  border-radius: 20px;
  text-transform: uppercase;
  font-weight: 600;
}

.error {
  text-align: center;
  color: red;
}

.social-wrapper {
  text-align: center;
  margin-top: 30px;
}

.social-wrapper p {
  text-align: center;
  padding: 5px;
}

.social-icons button {
  border: none;
  border-radius: 50px;
  margin: 5px;
  background-color: gray;
}

.social-icons i {
  padding: 10px 10px;
  /* font-size: larger; */
}

.social-icons .fa-facebook-f {
  padding: 10px 12px;
}

button#favorite-icon.favorite-icon {
  background-color: none;
}

.fa .fa-heart {
  font-size: 32px;
  color: white;
  border-color: #765fc2;
  background-color: none;
}

ul {
  list-style-type: none;
}

.main-nav-list {
  display: flex;
  gap: 1rem;
}

ul li {
  display: inline-block;
}

.main-nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
}

.community-nav-list {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}

img {
  width: 100%;
}

.dp {
  width: 50px;
  border-radius: 50%;
}

#logo {
  background-color: gainsboro;
  padding: 1rem;
}

.jump-bar {
  text-align: center;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.jump-bar ul li {
  padding: 1rem;
  cursor: pointer;
}

.jump-bar ul li:hover {
  background-color: gainsboro;
}

.active {
  background-color: gainsboro;
}

.jump-bar ul {
  border-bottom: 10px solid black;
  padding: 0;
  display: flex;
  gap: 1rem;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.wrapper > div > a > img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.dp {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.floating-action-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  border-radius: 50%;
  background-color: aquamarine;
  border: 0;
  height: 3rem;
  width: 3rem;
  font-size: 1.75rem;
  font-weight: bold;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.update-profile section {
  background: radial-gradient(circle at top left, #765fc2 0%, #F6F4F9 60%, transparent 80%), radial-gradient(circle at bottom right, #765fc2 0%, #F6F4F9 60%, transparent 80%);
}
.update-profile .container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 800px;
  margin: auto;
}
.update-profile .form-field {
  width: 100%;
}
.update-profile input[type=radio] {
  width: auto;
  cursor: pointer;
}
.update-profile input[type=checkbox], .update-profile input[type=checkbox] + label {
  display: inline;
  width: auto;
}
.update-profile .profile-image {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  display: block;
  margin: auto;
  object-fit: cover;
  object-position: top;
}
.update-profile input[type=submit] {
  cursor: pointer;
}
.update-profile input[type=submit]:disabled {
  opacity: 0.8;
  cursor: not-allowed;
}

@media screen and (min-width: 992px) {
  form {
    display: grid;
    grid-template-columns: 1fr, 2fr;
    grid-gap: 2rem;
  }
}
form #name-img.form-field {
  grid-column: 1/2;
}
form #user-info {
  grid-column: 2/3;
}

.upload-item {
  display: grid;
  grid-template-columns: 1fr;
  width: 300px;
  align-content: end;
  grid-gap: 20px;
  margin: auto;
}

.user-profile {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 10px 20px 30px 20px;
}

.user-details {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.counter {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  grid-gap: 2px;
  margin: auto 30px;
}

.user-message {
  margin: auto 15px;
}

.action-buttons {
  margin: auto 15px;
}

.action-btn {
  margin: 5px auto;
}

.profile-image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.user-posts-type {
  margin-left: 20px;
}

html {
  font-family: "Poppins", sans-serif;
  color: #444444;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1rem;
}

/*# sourceMappingURL=main.css.map */
